{% extends 'base.html' %}
(% # coding: utf8 %}

{% block title %}
    Revisión bulto
{% endblock %}

{% block header %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('revision_bultos.static', filename='css/revision_bultos.css') }}">
	<script type="text/javascript">
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		function setModalAdvertencia(title, mensaje){
			$("#modalAdvertenciaTitle").text(title);
			$("#modalAdvertenciaMensaje").text(mensaje);
			$("#modalAdvertencia").modal('show');
		};
		function onClickRevisar(){
			if (document.getElementById("InputRevisar").checked == true){
				document.getElementById("InputRevisar").value = 1;
			}else document.getElementById("InputRevisar").value = 0;
		};
		$(function(){
			$('#modalAdvertencia').modal({ show: false})
			document.getElementById("InputRevisar").value = 0;
			document.getElementById("InputBandeja").readOnly = true;
			document.getElementById("CamionRobado").disabled = true;
			document.getElementById("TermRevBultos").disabled = true;
			
			if ({{contexto.cod_status}} == 1){
				//setModalAdvertencia("Error de Contexto:","Mensaje: "+{{contexto.msg_status}}+"\n(Se Bloquearán Todos Los Campos)");
				//alert("Error de Contexto:\nMensaje: "+{{contexto.msg_status}}+"\n(Se Bloquearán Todos Los Campos)");
				document.getElementById("InputSalida").readOnly = true;
			} else $("#InputSalida").focus();
			
			$('#InputSalida').keypress(function(event) {
				var keycode = (event.keyCode ? event.keyCode : event.which);
				if (keycode == 13) {
					console.log($(this).val());
					console.log($SCRIPT_ROOT);
					$.getJSON($SCRIPT_ROOT + '/registrarsalida',{
						nro_salida: $("#InputSalida").val(),
						rev_todo: $("#InputRevisar").val()
					},	function(data){
						console.log(data);
						if(data.cod_status == 1){
							setModalAdvertencia("Error Al Validar Salida:","Mensaje: "+data.msg_status);
						}else if(data.cod_status == 0){
							document.getElementById("InputSalida").readOnly = true;
							document.getElementById("InputBanndeja").readOnly = false;
							setModalAdvertencia("Bien Al Validar Salida:","Mensaje: "+data.msg_status);
						}else setModalAdvertencia("Error Al Validar Salida:","Mensaje: NO HAY DATOS. data.cod_status="+data.cod_status);
					});
				}
			});
		});
	</script>
{% endblock %}

{% block screen_name %}
	<h4 style="color: #1a8dff;">Revisión de Bultos</h4>
{% endblock %}

{% block info_contexto %}
	<div class="row">
		<div class="col-3">Empresa:</div>
		<div class="col-9" id="id_Empresa">{{contexto.Empresa}}</div>
		<div class="col-3">Local:</div>
		<div class="col-9" id="id_Local">{{contexto.Local}}</div>
		<div class="col-3">Usuario:</div>
		<div class="col-9" id="id_Usuario">{{contexto.Usuario}}</div>
	</div>
{% endblock %}

{% block field_container %}
	<!-- div del gif con el loader, parte hidden -->
	<div id="loader" style="display: none;">
		<center> <img src="{{url_for('static',filename='img/ajax-loader.gif')}}"> </center>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="modalAdvertencia" tabindex="-1" role="dialog" data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalAdvertenciaTitle">TITULO</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p id="modalAdvertenciaMensaje">MENSAJE</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- contenedor de campos -->
	<div class="row" id="baserow">
		<div class="col" id="fieldscol">
			<div class="d-flex align-items-center justify-content-center h-100">
				<div class="col" id="colx">
					<div class="row">
						<div class="col-5">
							<label>Revisar todo:</label>
						</div>
						<div class="col-2">
							<input type="checkbox" id="InputRevisar" onclick="onClickRevisar()" style="margin-top:10px">
						</div>
					</div>
					<div class="row">
						<div class="col-5">
							<label>Salida:</label>
						</div>
						<div class="col">
							<input type="number" class="form-control" id="InputSalida" required>
						</div>
					</div>
					<div class="row">
						<div class="col-5">
							<label>Bandeja:</label>
						</div>
						<div class="col">
							<input type="text" class="form-control" id="InputBandeja" required>
						</div>
					</div>
					<div class="row">
						<div class="col-7">
							<label>Contador Bandejas:</label>
						</div>
						<div class="col">
							<input type="text" class="form-control" readonly="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="margin-top: 10px;">
		<div class="col">
			<div class="center-block text-center">
				<button type="" class="btn btn-info" style="float: left;" id="CamionRobado">Camión Robado</button>
				<button type="" class="btn btn-info" style="float: right;" id="TermRevBultos">Terminar</button>
			</div>
		</div>
	</div>
{% endblock %}