{% extends 'base.html' %}
(% # coding: utf8 %}

{% block title %}
    Revisión bulto
{% endblock %}

{% block header %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('revision_bultos.static', filename='css/revision_bultos.css') }}">
	<script type="text/javascript">
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		var resp = 0; var titulo = ""; var mens = "";
		
		function onClickRevisar(){
			if (document.getElementById("InputRevisar").checked == true){
				document.getElementById("InputRevisar").value = 1;
			}else document.getElementById("InputRevisar").value = 0;
		};
		
		function imprimir_voucher(link_voucher){
			titulo = "Éxito "+titulo;
			mens = "Se Abrirá una Nueva Ventana con el Voucher Para Ser Impreso";
			setModalAdvertencia("Mensaje",titulo,"Mensaje: "+mens);
			window.open(link_voucher);
		};
		
		function ReiniciarFormulario(){
			document.getElementById("InputRevisar").value = 0;
			document.getElementById("InputHora").value = "";
			document.getElementById("InputSalida").value = "";
			document.getElementById("InputBandeja").value = "";
			document.getElementById("ReadCantidad").value = "";
			document.getElementById("InputRevisar").readOnly = false;
			document.getElementById("InputHora").readOnly = false;
			document.getElementById("InputSalida").readOnly = false;
			document.getElementById("InputBandeja").readOnly = true;
			document.getElementById("CamionRobado").disabled = true;
			document.getElementById("TermRevBultos").disabled = true;
		};
		
		function correcto_RegSalida(){
			document.getElementById("InputRevisar").readOnly = true;
			document.getElementById("InputHora").readOnly = true;
			document.getElementById("InputSalida").readOnly = true;
			document.getElementById("InputBandeja").readOnly = false;
			document.getElementById("CamionRobado").disabled = false;
			$("#InputBandeja").focus();
		};
		
		function correcto_RegBandeja(cant_bandejas){
			document.getElementById("InputBandeja").value = "";
			document.getElementById("ReadCantidad").value = cant_bandejas;
			document.getElementById("CamionRobado").disabled = true;
			document.getElementById("TermRevBultos").disabled = false;
			$("#InputBandeja").focus();
		};
		
		function correcto_RevBulto(link_voucher){
			focusId = "InputHora";
			titulo = "Al Terminar Revision:";
			imprimir_voucher(link_voucher);
			
			ReiniciarFormulario();
		};
		
		function correcto_AlertaRobo(link_voucher){
			focusId = "InputHora";
			titulo = "Al Alertar Robo:";
			imprimir_voucher(link_voucher);
			
			ReiniciarFormulario();
		};
		
		function ServRevBultos(){
			focusId = "";
			$.getJSON($SCRIPT_ROOT + '/revisabultos',{
				nro_salida: $("#InputSalida").val(),
				respuesta: resp
			},	function(data){
				console.log(data);
				if(data.cod_status == 0){
					correcto_RevBulto(data.link_voucher);
				}else if(data.cod_status == 1){
					focusId = "TermRevBultos";
					setModalAdvertencia("Error","Error Al Terminar Revision:","Mensaje: "+data.msg_status);
				}else if(data.cod_status == 2){
					ReproducirAlerta("Pregunta");
					if(confirm(data.msg_status)){
						resp = 1;
						////setModalAdvertencia("Mensaje","Éxito Al Terminar Revision:","Mensaje: Confirmado");
						console.log($SCRIPT_ROOT);
						ServRevBultos();
					}else{
						resp = 0;
						focusId = "InputBandeja";
						setModalAdvertencia("Mensaje","Éxito Al Terminar Revision:","Mensaje: Continúe Escaneando");
					}
				}else if(data.cod_status == 3){
					correcto_RevBulto(data.link_voucher);
					////setModalAdvertencia("Mensaje","Éxito Al Terminar Revision:","Mensaje: "+data.msg_status);
				}else{
					focusId = "TermRevBultos";
					setModalAdvertencia("Error","Error Al Terminar Revision:","Mensaje: NO HAY DATOS DE VUELTA.");
				}
			});
		};
		
		$(function(){
			$('#modalAdvertencia').modal({ show: false});
			ReiniciarFormulario();
			focusId = "";
			
			if ({{contexto.cod_status}} == 0){
				$("#InputHora").focus();
			}else if({{contexto.cod_status}} == 1){
				document.getElementById("InputHora").readOnly = true;
				document.getElementById("InputSalida").readOnly = true;
				setModalAdvertencia("Error","Error de Contexto:","Mensaje: {{contexto.msg_status}}\n(SE BLOQUEARÁN TODOS LOS CAMPOS)");
			}else if({{contexto.cod_status}} == 3){
				focusId = "InputHora";
				setModalAdvertencia("Mensaje","Éxito de Contexto:","Mensaje: {{contexto.msg_status}}");
			}else {
				document.getElementById("InputHora").readOnly = true;
				document.getElementById("InputSalida").readOnly = true;
				setModalAdvertencia("Error","Error de Contexto:","Mensaje: NO HAY DATOS DE VUELTA.\n(SE BLOQUEARÁN TODOS LOS CAMPOS)");
			}
			
			$('#InputSalida').keypress(function(event) {
				focusId = "";
				var keycode = (event.keyCode ? event.keyCode : event.which);
				if (keycode == 13 & document.getElementById("InputSalida").value.length > 0) {
					var hora = validar_hora("InputHora", "Hora Llegada");
					var salida = validar_number("InputSalida", "Salida");
					if (hora.length > 0) document.getElementById("InputHora").value = "";
					else if (salida.length > 0) document.getElementById("InputSalida").value = "";
					else{
						console.log($(this).val());
						console.log($SCRIPT_ROOT);
						$.getJSON($SCRIPT_ROOT + '/registrasalida',{
							nro_salida: $("#InputSalida").val(),
							rev_todo: $("#InputRevisar").val(),
							hora_llegada: $("#InputHora").val()
						},	function(data){
							console.log(data);
							if(data.cod_status == 0){
								correcto_RegSalida();
							}else if(data.cod_status == 1){
								focusId = "InputSalida";
								document.getElementById("InputSalida").value = "";
								setModalAdvertencia("Error","Error Al Registrar Salida:","Mensaje: "+data.msg_status);
							}else if(data.cod_status == 3){
								correcto_RegSalida();
								focusId = "InputBandeja";
								setModalAdvertencia("Mensaje","Éxito Al Registrar Salida:","Mensaje: "+data.msg_status);
							}else{
								focusId = "InputSalida";
								document.getElementById("InputSalida").value = "";
								setModalAdvertencia("Error","Error Al Registrar Salida:","Mensaje: NO HAY DATOS DE VUELTA.");
							}
						});
					}
				}
			});
			
			$('#InputBandeja').keypress(function(event) {
				focusId = "";
				var keycode = (event.keyCode ? event.keyCode : event.which);
				if (keycode == 13 & document.getElementById("InputBandeja").value.length > 0) {
					var bandeja = validar_texto("InputBandeja", "Bandeja");
					if (bandeja.length > 0) document.getElementById("InputBandeja").value = "";
					else {
						console.log($(this).val());
						console.log($SCRIPT_ROOT);
						$.getJSON($SCRIPT_ROOT + '/registrabandeja',{
							nro_salida: $("#InputSalida").val(),
							bandeja_pub: $("#InputBandeja").val()
						},	function(data){
							console.log(data);
							if(data.cod_status == 0){
								correcto_RegBandeja(data.cant_bandejas);
							}else if(data.cod_status == 1){
								focusId = "InputBandeja";
								document.getElementById("InputBandeja").value = "";
								setModalAdvertencia("Error","Error Al Registrar Bandeja:","Mensaje: "+data.msg_status);
							}else if(data.cod_status == 3){
								correcto_RegBandeja(data.cant_bandejas);
								focusId = "InputBandeja";
								setModalAdvertencia("Mensaje","Éxito Al Registrar Bandeja:","Mensaje: "+data.msg_status);
							}else{
								focusId = "InputBandeja";
								document.getElementById("InputBandeja").value = "";
								setModalAdvertencia("Error","Error Al Registrar Bandeja:","Mensaje: NO HAY DATOS DE VUELTA.");
							}
						});
					}
				}
			});
			
			$('#CamionRobado').click(function(event) {
				focusId = "";
				if(confirm('Seguro Que Desea Continuar?')){
					console.log($(this).val());
					console.log($SCRIPT_ROOT);
					$.getJSON($SCRIPT_ROOT + '/camionrobado',{
						nro_salida: $("#InputSalida").val()
					},	function(data){
						console.log(data);
						if(data.cod_status == 0){
							correcto_AlertaRobo(data.link_voucher);
						}else if(data.cod_status == 1){
							focusId = "CamionRobado";
							setModalAdvertencia("Error","Error Al Alertar Robo:","Mensaje: "+data.msg_status);
						}else if(data.cod_status == 3){
							correcto_AlertaRobo(data.link_voucher);
							////setModalAdvertencia("Mensaje","Éxito Al Alertar Robo:","Mensaje: "+data.msg_status);
						}else{
							focusId = "CamionRobado";
							setModalAdvertencia("Error","Error Al Alertar Robo:","Mensaje: NO HAY DATOS DE VUELTA.");
						}
					});
				}
			});
			
			$('#TermRevBultos').click(function(event) {
				if(confirm('Seguro Que Desea Continuar?')){
					console.log($(this).val());
					console.log($SCRIPT_ROOT);
					ServRevBultos();
				}else $("#TermRevBultos").focus();
			});
			
			$('#VolverMenu').click(function(event) {
				if(confirm('Seguro Que Desea Volver Al Menú?')){
					IrMenu();
				}
			});
		});
	</script>
{% endblock %}

{% block screen_name %}
	<h4 class="titulo_pag">Revisión de Bultos</h4>
{% endblock %}

{% block info_contexto %}
	<div class="row">
		<div class="col-3">Empresa:</div>
		<div class="col-9" id="id_Empresa">{{contexto.Empresa}}</div>
		<div class="col-3">Local:</div>
		<div class="col-9" id="id_Local">{{contexto.Local}}</div>
		<div class="col-3">Usuario:</div>
		<div class="col-9" id="id_Usuario">{{contexto.Usuario}}</div>
	</div>
{% endblock %}

{% block field_container %}
	<!-- contenedor de campos -->
	<div class="row" id="baserow">
		<div class="col" id="fieldscol">
			<div class="d-flex align-items-center justify-content-center h-100">
				<div class="col" id="colx">
					<div class="row">
						<div class="col-5">
							<label>Revisar todo:</label>
						</div>
						<div class="col">
							<input type="checkbox" id="InputRevisar" onclick="onClickRevisar()" style="margin-top:10px">
						</div>
					</div>
					<!--<div class="row" style="display:none;">-->
					<div class="row">
						<div class="col-5">
							<label>Hora Llegada:</label>
						</div>
						<div class="col-7">
							<input type="time" class="form-control" id="InputHora" style='font-size:14px;padding:.100rem .45rem'>
						</div>
					</div>
					<div class="row">
						<div class="col-5">
							<label>Salida:</label>
						</div>
						<div class="col-7">
							<input type="text" class="form-control" id="InputSalida">
						</div>
					</div>
					<div class="row">
						<div class="col-5">
							<label>Bandeja:</label>
						</div>
						<div class="col-7">
							<input type="text" class="form-control" id="InputBandeja">
						</div>
					</div>
					<div class="row">
						<div class="col-7">
							<label>Contador Bandejas:</label>
						</div>
						<div class="col-5">
							<input type="number" class="form-control" id="ReadCantidad" readonly="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="margin-bottom:10px">
		<div class="col">
			<div class="center-block text-center">
				<button class="btn btn-info" style="float: left;" id="CamionRobado">Camión Robado</button>
				<button class="btn btn-info" style="float: right;" id="TermRevBultos">Terminar</button>
			</div>
		</div>
	</div>
	<div class="row" style="margin-bottom:10px">
		<div class="col">
			<div class="center-block text-center">
				<button type="" class="btn btn-info" style="float: left;" id="VolverMenu">Volver</button>
			</div>
		</div>
	</div>
{% endblock %}