{% extends 'base2.html' %}
(% # coding: utf8 %}

{% block title %}
    Menú
{% endblock %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{{ url_for('menu.static', filename='css/menu.css') }}">
<script type="text/javascript">
		$( document ).ready(function() {
			$("#sidebar").toggleClass("toggle");
		});
		
		$(function(){
			focusId = "";
			$('#modalAdvertencia').modal({show: false});
			
			if ({{contexto.cod_status}} == 0){
				//setModalAdvertencia("Mensaje","Exito de Contexto:","Mensaje: {{contexto.msg_status}}");
			}else if({{contexto.cod_status}} == 1){
				document.getElementById("menu-toggle").disabled = true;
				setModalAdvertencia("Error","Error de Contexto:","Mensaje: {{contexto.msg_status}}\n(SE BLOQUEARÁN TODOS LOS CAMPOS)");
			}else if({{contexto.cod_status}} == 3){
				setModalAdvertencia("Mensaje","Exito de Contexto:","Mensaje: {{contexto.msg_status}}");
			}else {
				document.getElementById("menu-toggle").disabled = true;
				setModalAdvertencia("Error","Error de Contexto:","Mensaje: NO HAY DATOS DE VUELTA.\n(SE BLOQUEARÁN TODOS LOS CAMPOS)");
			}
		});
	</script>
{% endblock %}

{% block body %}
	<div id="wrapper">
		<!-- Sidebar -->
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="sidebar-brand">
					<div class="row">
						<div class="col"> Menú </div>
					</div>
				</li>
				<li>
					<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Recepción Ciega</a>
					<ul class="collapse list-unstyled" id="pageSubmenu">
						<li> <a href="{{url_for('revision_bultos._revision_bultos')}}">Revisión de Bultos</a> </li>
						<li> <a href="{{url_for('revision_contenido._revision_contenido')}}">Revisión de Contenido</a> </li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- Page Content -->
		<nav class="navbar navbar-light bg-white">
			<button class="navbar-toggler" href="#menu-toggle" type="button" id="menu-toggle">
				<span class="navbar-toggler-icon"></span> Menú
			</button>
		</nav>
		<div id="page-content-wrapper">
			<div class="row">
				<div class="col center">
					<h1 class="titulo_pag">Recepción Ciega</h1>
				</div>
			</div>
			<div class="row">
				<div class="col center">
					<img src="{{url_for('static', filename='img/logo.png')}}" id="logo2">
				</div>
			</div>			
			<div class="row" id="baserow">
				<div class="col" id="fieldscol">
					<div class="d-flex align-items-center justify-content-center h-100">
						<div class="col" id="colx">
							<div class="row" id="tit_contexto">
								<div class="col center">
									<h5>Información de Contexto</h5>
								</div>
							</div>
							<div class="row">
								<div class="col-5"><p>Empresa:</p></div>
								<div class="col-7 right" id="id_Empresa"><p>{{contexto.Empresa}}</p></div>
								<div class="col-5"><p>Local:</p></div>
								<div class="col-7 right" id="id_Local"><p>{{contexto.Local}}</p></div>
								<div class="col-5"><p>Usuario:</p></div>
								<div class="col-7 right" id="id_Usuario"><p>{{contexto.Usuario}}</p></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Menu Toggle Script -->
	<script>
		$(function(){			
			$("#menu-toggle").click(function(e) {                
				e.preventDefault();
				$("#wrapper").toggleClass("toggled");
			});
			$('body').click(function(event){
				if ($(event.target).closest('#sidebar-wrapper').length) {
					console.log('yeaa, clickeaste dentro we');
					return; 
				}
				if (event.target.id == "menu-toggle"){
					return;
				} else {
					if($("#wrapper").hasClass("toggled")){
						$("#wrapper").toggleClass("toggled");
					}
				}
			});
		});
	</script>
{% endblock %}