
{% extends 'base.html' %}


{% block title %}
    Revisión bulto
{% endblock %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('revision_ciega.static', filename='css/revision_bulto.css') }}">
{% endblock %}

{% block screen_name %}
    <h3 style="color: #1a8dff;">Revisión de Bulto</h3>
{% endblock %}

{% block info_contexto %}
<!-- info de contexto -->
{% for key, value in contexto.items() %}
    <div class="row">
        <div class="col-3">{{key}}:</div>
        <div class="col-9">{{value}}</div>
    </div>
{% endfor %}
{% endblock %}

{% block field_container %}
<!-- contenedor de campos -->
    <div class="row" id="baserow">
        <div class="col" id="fieldscol">
            <div class="d-flex align-items-center justify-content-center h-100">
                <div class="col" id="colx">
                    <div class="row">
                        <div class="col-5">
                            <label>Revisar todo:</label>
                        </div>
                        <div class="col-2">
                            <input type="checkbox" id="revisarInput" style="margin-top:10px">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <label>Salida:</label>
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" id="salidaInput" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <label>Bandeja:</label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="bandejaInput" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <label>Contador bandejas:</label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" readonly="">
                        </div>
                    </div>
                </div>
            </div><!-- flex align-items-center -->
        </div><!-- col -->
    </div><!-- baserow -->    
    <div class="row" style="margin-top: 10px;">
        <div class="col">
            <div class="center-block text-center">
                <button type="submit" class="btn btn-info" style="float: left;">Camión Robado</button>
                <button type="submit" class="btn btn-info" style="float: right;">Terminar</button>
            </div>
        </div>
    </div>
{% endblock %}