<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
	$(function(){
		//console.log("{{ url_for('servicio') }}");
		$("#botonInput").bind('click', function(){
			nombre = $("#nombreInput").val();
			console.log(myJSON);
			$.ajax({
				data: JSON.stringify({ "name": nombre }),
				type: 'POST',
				url: "{{ url_for('servicio') }}",
				contentType: 'application/json',
			    success: function(result) {
			        console.log(result);
			    }
			});
		});
	});
</script>

</head>


<body>

<input type="text" name="nombre" id="nombreInput">
<input type="submit" name="goButon" id="botonInput"><br>
<p id="respuestaId">R E S P U E S T A</p>

</body>
