<!doctype html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

	<script type="text/javascript">
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
	<script type="text/javascript">
		$(function(){
			$('a#calculate').bind('click', function(){
				$.getJSON($SCRIPT_ROOT + '/_add_numbers',{
					a: $('input[name="a"]').val()
				}, function(data){
					$("#result").text(data.result);
					console.log(data.mensaje);
					if(data.mensaje == '0'){
						console.log('llegué');
						$("#a").attr('readonly', true);
					}
				});
				return false;
			});
			$('#borrar').bind('click', function(){
				if (confirm('¿Seguro que quiere borrar todo?')) {
					$("#borrado").text('borrado');
				}
			})
		});
	</script>
</head>


<html>
	<body>
		<h1>Test servicio usando AJAX</h1>
		<input type=text size=5 name=a id="a"><br>
		<span id=result>servicio</span><br>
		<a href=# id=calculate>Pedir servicio</a><br>
		<a href=# id="borrar">BORRAR TODO</a><br>
		<span id="borrado"></span>
	</body>
</html>