<a href="bwstw://startscanner">Link to start scanner</a>

It is also possible to start the scanner in a JavaScript function.

<button type="button" 
    name="btnScanBarcode" 
    id="btnScanBarcode" 
    style="height:56px;border-width:0px;"
    onclick="javascript:startBarcodeScanner();">
<img src="http://berrywing.com/images/barcode_2d.png" style="height: 50px; width: 50px">
</button>

<script>
function startBarcodeScanner() 
{    
    alert("Using client JavaScript to start scanner.");
    window.location.href = 'bwstw://startscanner?field=txtField2';
}
</script>