{% extends 'base.html' %}


{% block title %}
    Revisión Conenido
{% endblock %}

{% block header %}
<style type="text/css">
    .col-9{
    text-align: right;
}
#col_contexto{
    border: black 2px;
}

/* agrega una pequeña distancia entre filas de label-input */
#colx .row{
    text-align: left;
    margin-bottom: 10px;
    align-items: left;
}
/* crea un margen y el color de fondo col que contiene los campos */
#fieldscol{
    padding: 10px 10px 10px;
    background-color: #1a8dff;
    color: white;
}

/* crea un margen en el row base que contiene todo */
#baserow{
    padding: 10px 10px 10px;
}

/* para alinear los label con sus inputs */
input #form-control{
    margin-top: 5px;
    margin-bottom: 5px;
    display:inline-block;
    vertical-align:middle;
    margin-left:20px
}

label {
    display:inline-block;
    float: left;
    padding-top: 5px;
    text-align: left;
    width: 140px;
}
</style>
{% endblock %}

{% block screen_name %}
    <h4 style="color: #1a8dff;">Revisión de Contenido</h4>
{% endblock %}

{% block info_contexto %}
<!-- info de contexto -->
    <div class="row">
        <div class="col-3">Empresa:</div>
        <div class="col-9">1</div>
    </div>
    <div class="row">
        <div class="col-3">Local:</div>
        <div class="col-9">1</div>
    </div>
    <div class="row">
        <div class="col-3">Usuario:</div>
        <div class="col-9">FRSALASR </div>
    </div>
{% endblock %}

{% block field_container %}
<!-- contenedor de campos -->
    <div class="row" id="baserow">
        <div class="col" id="fieldscol">
            <div class="d-flex align-items-center justify-content-center h-100">
                <div class="col" id="colx">
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-5">
                            <label>Salida:</label>
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" id="salidaInput" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <label>Bandeja:</label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="bandejaInput" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <label>Producto:</label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="productoInput" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <label>Cantidad:</label>
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" id="cantidadInput" readonly="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" id="nomberInput" placeholder="Aspirina" readonly="">
                        </div>
                    </div>
                </div>
            </div><!-- flex align-items-center -->
        </div><!-- col -->
    </div><!-- baserow -->    
    <div class="row" style="margin-top: 10px;">
        <div class="col">
            <div class="center-block text-center">
                <button type="submit" class="btn btn-info" style="float: right;">Terminar</button>
            </div>
        </div>
    </div>
{% endblock %}