{% extends 'base.html' %}
(% # coding: utf8 %}

{% block title %}
    Revisión Conenido
{% endblock %}

{% block header %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('revision_contenido.static', filename='css/revision_contenido.css') }}">
	<script type="text/javascript">
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		
		function ReiniciarFormulario(){
			document.getElementById("InputSalida").value = "";
			document.getElementById("InputBandeja").value = "";
			document.getElementById("InputProducto").value = "";
			document.getElementById("ReadCantidad").value = "";
			document.getElementById("ReadDescripcion").value = "";
			document.getElementById("InputComentario").value = "";
			document.getElementById("InputSalida").readOnly = false;
			document.getElementById("InputBandeja").readOnly = true;
			document.getElementById("InputProducto").readOnly = true;
			document.getElementById("InputComentario").readOnly = true;
			document.getElementById("TermRevCont").disabled = true;
		};
		
		$(function(){
			$('#modalAdvertencia').modal({ show: false});
			ReiniciarFormulario();
			focusId = "";
			
			if ({{contexto.cod_status}} == 0){
				$("#InputSalida").focus();
			}else if({{contexto.cod_status}} == 1){
				document.getElementById("InputSalida").readOnly = true;
				setModalAdvertencia("Error","Error de Contexto:","Mensaje: {{contexto.msg_status}}\n(SE BLOQUEARÁN TODOS LOS CAMPOS)");
			}else if({{contexto.cod_status}} == 3){
				focusId = "InputSalida";
				setModalAdvertencia("Mensaje","Éxito de Contexto:","Mensaje: {{contexto.msg_status}}");
			}else {
				document.getElementById("InputSalida").readOnly = true;
				setModalAdvertencia("Error","Error de Contexto:","Mensaje: NO HAY DATOS DE VUELTA.\n(SE BLOQUEARÁN TODOS LOS CAMPOS)");
			}
			
			$('#InputSalida').keypress(function(event) {
				focusId = "";
				var keycode = (event.keyCode ? event.keyCode : event.which);
				if (keycode == 13 & document.getElementById("InputSalida").value.length > 0) {
					var salida = validar_number("InputSalida", "Salida");
					if (salida.length > 0) document.getElementById("InputSalida").value = "";
					else{
						console.log($(this).val());
						console.log($SCRIPT_ROOT);
						$.getJSON($SCRIPT_ROOT + '/validasalida',{
							nro_salida: $("#InputSalida").val()
						},	function(data){
							console.log(data);
							if(data.cod_status == 0){
								document.getElementById("InputSalida").readOnly = true;
								document.getElementById("InputBandeja").readOnly = false;
								$("#InputBandeja").focus();
							}else if(data.cod_status == 1){
								document.getElementById("InputSalida").value = "";
								focusId = "InputSalida";
								setModalAdvertencia("Error","Error Al Validar Salida:","Mensaje: "+data.msg_status);
							}else if(data.cod_status == 3){
								document.getElementById("InputSalida").readOnly = true;
								document.getElementById("InputBandeja").readOnly = false;
								focusId = "InputBandeja";
								setModalAdvertencia("Mensaje","Éxito Al Validar Salida:","Mensaje: "+data.msg_status);
							}else{
								focusId = "InputSalida";
								setModalAdvertencia("Error","Error Al Validar Salida:","Mensaje: NO HAY DATOS DE VUELTA.");
							}
						});
					}
				}
			});
			
			$('#InputBandeja').keypress(function(event) {
				var keycode = (event.keyCode ? event.keyCode : event.which);
				if (keycode == 13 & document.getElementById("InputBandeja").value.length > 0) {
					var bandeja = validar_texto("InputBandeja", "Bandeja");
					if (bandeja.length > 0) document.getElementById("InputBandeja").value = "";
					else {
						console.log($(this).val());
						console.log($SCRIPT_ROOT);
						$.getJSON($SCRIPT_ROOT + '/validabandeja',{
							nro_salida: $("#InputSalida").val(),
							bandeja_pub: $("#InputBandeja").val()
						},	function(data){
							console.log(data);
							if(data.cod_status == 0){
								document.getElementById("InputBandeja").readOnly = true;
								document.getElementById("InputProducto").readOnly = false;
								document.getElementById("InputComentario").readOnly = false;
								$("#InputProducto").focus();
							}else if(data.cod_status == 1){
								document.getElementById("InputBandeja").value = "";
								focusId = "InputBandeja";
								setModalAdvertencia("Error","Error Al Validar Bandeja:","Mensaje: "+data.msg_status);
							}else if(data.cod_status == 3){
								document.getElementById("InputBandeja").readOnly = true;
								document.getElementById("InputProducto").readOnly = false;
								document.getElementById("InputComentario").readOnly = false;
								focusId = "InputProducto";
								setModalAdvertencia("Mensaje","Éxito Al Validar Bandeja:","Mensaje: "+data.msg_status);
							}else{
								focusId = "InputBandeja";
								setModalAdvertencia("Error","Error Al Validar Bandeja:","Mensaje: NO HAY DATOS DE VUELTA.");
							}
						});
					}
				}
			});
			
			$('#InputProducto').keypress(function(event) {
				var keycode = (event.keyCode ? event.keyCode : event.which);
				if (keycode == 13 & document.getElementById("InputProducto").value.length > 0) {
					var producto = validar_texto("InputProducto", "Producto");
					if (producto.length > 0) document.getElementById("InputProducto").value = "";
					else {
						console.log($(this).val());
						console.log($SCRIPT_ROOT);
						$.getJSON($SCRIPT_ROOT + '/registraproducto',{
							nro_salida: $("#InputSalida").val(),
							bandeja_pub: $("#InputBandeja").val(),
							cod_ingresado: $("#InputProducto").val()
						},	function(data){
							console.log(data);
							if(data.cod_status == 0){
								document.getElementById("InputProducto").value = "";
								document.getElementById("InputComentario").readOnly = false;
								document.getElementById("TermRevCont").disabled = false;
								document.getElementById("ReadCantidad").value = data.cantidad;
								document.getElementById("ReadDescripcion").value = data.descripcion;
								$("#InputProducto").focus();
							}else if(data.cod_status == 1){
								document.getElementById("InputProducto").value = "";
								document.getElementById("ReadCantidad").value = "";
								document.getElementById("ReadDescripcion").value = "";
								focusId = "InputProducto";
								setModalAdvertencia("Error","Error Al Registrar Producto:","Mensaje: "+data.msg_status);
							}else if(data.cod_status == 0){
								document.getElementById("InputProducto").value = "";
								document.getElementById("InputComentario").readOnly = false;
								document.getElementById("TermRevCont").disabled = false;
								document.getElementById("ReadCantidad").value = data.cantidad;
								document.getElementById("ReadDescripcion").value = data.descripcion;
								focusId = "InputProducto";
								setModalAdvertencia("Mensaje","Éxito Al Registrar Producto:","Mensaje: "+data.msg_status);
							}else{
								focusId = "InputProducto";
								setModalAdvertencia("Error","Error Al Registrar Producto:","Mensaje: NO HAY DATOS DE VUELTA.");
							}
						});
					}
				}
			});
			
			$('#TermRevCont').click(function(event) {
				var texto = validar_texto("InputComentario", "Comentario Termino");
				if (texto.length > 0) document.getElementById("InputComentario").value = "";
				else{
					if(confirm('Seguro Que Desea Continuar?')){
						console.log($(this).val());
						console.log($SCRIPT_ROOT);
						$.getJSON($SCRIPT_ROOT + '/revisacontenido',{
							nro_salida: $("#InputSalida").val(),
							bandeja_pub: $("#InputBandeja").val(),
							glosa: $("#InputComentario").val()
						},	function(data){
							console.log(data);
							if(data.cod_status == 0){
								document.getElementById("InputBandeja").value = "";
								document.getElementById("InputProducto").value = "";
								document.getElementById("ReadCantidad").value = "";
								document.getElementById("ReadDescripcion").value = "";
								document.getElementById("InputComentario").value = "";
								document.getElementById("InputBandeja").readOnly = false;
								document.getElementById("InputProducto").readOnly = true;
								document.getElementById("InputComentario").readOnly = true;
								document.getElementById("TermRevCont").disabled = true;
								focusId = "InputBandeja";
								setModalAdvertencia("Mensaje","Éxito Al Terminar Revision:","Mensaje: "+data.msg_status);
							}else if(data.cod_status == 1){
								focusId = "TermRevCont";
								setModalAdvertencia("Error","Error Al Terminar Revision:","Mensaje: "+data.msg_status);
							}else if(data.cod_status == 3){
								ReiniciarFormulario();
								focusId = "InputSalida";
								setModalAdvertencia("Mensaje","Éxito Al Terminar Revision:","Mensaje: "+data.msg_status);
							}else{
								focusId = "TermRevCont";
								setModalAdvertencia("Error","Error Al Terminar Revision:","Mensaje: NO HAY DATOS DE VUELTA.");
							}
						});
					}
				}
			});
			
			$('#VolverMenu').click(function(event) {
				if(confirm('Seguro Que Desea Volver Al Menú?')){
					if(document.getElementById("ReadCantidad").value.length > 0){
						console.log($(this).val());
						console.log($SCRIPT_ROOT);
						$.getJSON($SCRIPT_ROOT + '/cancelarevcontenido',{
							nro_salida: $("#InputSalida").val(),
							bandeja_pub: $("#InputBandeja").val()
						},	function(data){
							console.log(data);
							if(data.cod_status == 0){
								IrMenu();
							}else if(data.cod_status == 1){
								focusId = "VolverMenu";
								setModalAdvertencia("Error","Error Al Volver:","Mensaje: "+data.msg_status);
							}else if(data.cod_status == 3){
								IrMenu();
								focusId = "VolverMenu";
								setModalAdvertencia("Mensaje","Éxito Al Volver:","Mensaje: "+data.msg_status);
							}else{
								focusId = "VolverMenu";
								setModalAdvertencia("Error","Error Al Volver:","Mensaje: NO HAY DATOS DE VUELTA.");
							}
						});
					}else IrMenu();
				}
			});
		});
	</script>
{% endblock %}

{% block screen_name %}
	<h4 class="titulo_pag">Revisión de Contenido</h4>
{% endblock %}

{% block info_contexto %}
	<div class="row">
		<div class="col-3">Empresa:</div>
		<div class="col-9" id="id_Empresa">{{contexto.Empresa}}</div>
		<div class="col-3">Local:</div>
		<div class="col-9" id="id_Local">{{contexto.Local}}</div>
		<div class="col-3">Usuario:</div>
		<div class="col-9" id="id_Usuario">{{contexto.Usuario}}</div>
	</div>
{% endblock %}

{% block field_container %}
	<!-- contenedor de campos -->
    <div class="row" id="baserow">
        <div class="col" id="fieldscol">
            <div class="d-flex align-items-center justify-content-center h-100">
                <div class="col" id="colx">
					<div class="row" style="margin-top: 10px;">
                        <div class="col-5">
                            <label>Salida:</label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="InputSalida">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <label>Bandeja:</label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="InputBandeja">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <label>Producto:</label>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" id="InputProducto">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <label style="margin:-15px 0">Cantidad /</br>Descripción:</label>
                        </div>
                        <div class="col">
                            <input type="number" class="form-control" id="ReadCantidad" style="text-align: right;" readonly="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" id="ReadDescripcion" placeholder="" readonly="">
                        </div>
                    </div>
					<div class="row">
						<div class="col-5">
							<label>Comentario Termino:</label>
						</div>
						<div class="col-7">
							<textarea rows="2" cols="20" maxlength='240' class="form-control" id="InputComentario"></textarea>
						</div>
					</div>
                </div>
            </div>
        </div>
    </div>    
    <div class="row" style="margin-bottom:10px">
        <div class="col">
            <div class="center-block text-center">
                <button type="" class="btn btn-info" style="float: right;" id="TermRevCont">Terminar</button>
                <button type="" class="btn btn-info" style="float: left;" id="VolverMenu">Volver</button>
            </div>
        </div>
    </div>
{% endblock %}